*.pper
.Rproj.user/*
rdas/glove_similar.RData
glove/glove.twitter.27B/glove.twitter.27B.100d.txt
glove/glove.twitter.27B/glove.twitter.27B.25d.txt
glove/glove.twitter.27B/glove.twitter.27B.50d.txt
glove/glove.twitter.27B/glove.twitter.27B.200d.txt
